<h1>New Account transaction</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.account_transaction_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.account_transaction_path(@conn, :index) %></span>
